/* fonts are */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.open-sans-normal > {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.hide {
  display: none;
}
.text-primary {
  color: #fd6e0a;
}
.secondary-bg {
  background-color: #fff8f3;
}
.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
}
.section-description {
  font-size: 18px;
  font-weight: 400;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: #ffff;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
}
.text-center {
  text-align: center;
}

/* header style */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
@media screen and (max-width: 576px){
  nav{
    display: none;
  }
}
.nav-title {
  font-weight: 800;
  font-size: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 60px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
  padding: 30px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
}
.banner-profile-pic {
  width: 100%;
}

/* banner section responsive */
@media  screen and (max-width:576px){
  .banner{
  flex-direction: column;
   margin: 20px;
  }
  .header{
    background-image: none;
  }
  .banner-profile-pic{
    /* display: none; */
  }
  .banner-content button{
  margin-top: 10px;
}
}
/* main */
main {
  font-family: "Open Sans", serif;
  max-width: 1140px;
  margin: 0 auto;
}
/* about style */
.about {
  border-radius: 10px;
  margin-top: 130px;
  text-align: center;
  padding: 130px 150px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-des {
  font-weight: 800;
}
/* about section responsive */
@media screen and (max-width:576px){
 .about-items{
  flex-direction: column;

 } 
 .section-description , .section-title{
 padding: 10px;
 text-align: justify;
 }
 .about{
  padding: 10px;
 }
}


/* skill section */
.skills {
  margin: 130px auto;
}

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 40px;
  box-shadow: 0px 6px 50px 0px #00000021;
}

.skill-des {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (max-width:576px){
  .skills-container{
    flex-direction: column;
  }
}

/* resume section */
.resume {
  font-family: "Open Sans", serif;
}
.section-title {
  text-align: center;
}
.resume-container {
  display: flex;
  gap: 24px;
}

.experience-subtitle {
  margin-bottom: 0px;
}


.resume-down {
  margin: 10px;
}
@media screen and (max-width:576px){
  .resume-container{
    flex-direction: column;
  }
}
/* footer section  */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-collumn {
  width: 50%;
}
footer input[type="text"],
footer input[type="email"],
footer textarea {
  height: 20px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
  resize: none;
}
/* 
@media screen and (max-width: 576px){
  footer {
    flex-direction: column;
  }
  .footer-collumn {
    width: 100%;
  }
  

footer input[type="text"],
footer input[type="email"],
footer textarea {
width: calc(100%-40px);
}
} */
 /*  footer section responsive */
@media screen and (max-width: 576px) {
  footer {
    flex-direction: column;
    padding: 20px;
  }
  .footer-collumn {
    width: 100%;
  }
  footer input[type="text"],
  footer input[type="email"],
  footer textarea {
    width: calc(100% - 40px);
  }
}

